body{
    background-color: whitesmoke;
    margin: 0%;
    height: 100vh;  
    display: flex;
    align-items: center;
    text-align: center;
    animation: backchange 10s linear;
    animation-delay: 8s ;
    animation-fill-mode: forwards;
}
.container{
  height: 100%;
  animation: backchange 10s linear;
  animation-delay: 8s ;
  animation-fill-mode: forwards;
}
.container2{
  position: absolute;
  height: 100%;
  left: 91%;
  animation: backchange 10s linear;
  animation-delay: 8s ;
  animation-fill-mode: forwards;
}
@font-face {
  font-family: myFirstFont;
  src: url(SecretMemoriesDemo-8MY3B.ttf);
}
@keyframes beat {
    0% {
        opacity: 0;
        bottom: 0%;
        left: 0%;
      }
      5%{
        opacity: 0.5;
        bottom: 10%;
        left: 50%;
      }
      10% {
        opacity: 1;
        bottom: 20%;
        left: 70%;
      }
      20% {
        bottom: 40%;
        left: 10%;
      }
      30% {
        bottom: 60%;
        left: 50%;
      }
      40% {
        opacity: 1;
        bottom: 80%;
        left: 5%;
      }
      48% {
        opacity: 0;
        bottom: 100%;
        left: 60%;
      }
      100% {
        opacity: 0;
        bottom: 100%;
        left: 90%;
      }
}


@keyframes beat2 {
    0% {
        opacity: 0;
        bottom: 0%;
        right: 0%;
      }
      5%{
        opacity: 0.5;
        bottom: 10%;
        right: 50%;
      }
      10% {
        opacity: 1;
        bottom: 20%;
        right: 70%;
      }
      20% {
        bottom: 40%;
        right: 10%;
      }
      30% {
        bottom: 60%;
        right: 50%;
      }
      40% {
        opacity: 1;
        bottom: 80%;
        right: 5%;
      }
      48% {
        opacity: 0;
        bottom: 100%;
        right: 60%;
      }
      100% {
        opacity: 0;
        bottom: 100%;
        right: 90%;
      }
}

.heart {
    position: relative;
    width: 125px;
    height: 90px;
    animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.heart:before, .heart:after{
    position: absolute;
    content: "";
    left: 80px;
    top: 0;
    width: 80px;
    height: 125px;
    background-color: rgb(252, 138, 204);
    border-radius: 100px 100px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart:nth-child(1){
      animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
      animation-delay: 2.5s;

}

.heart:nth-child(2){
    animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 2.75s;
}

.heart:nth-child(3){
    animation: beat2 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 3s;

}

.heart:nth-child(4){

  animation: beat2 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
  animation-delay: 3.5s;

}

.heart:nth-child(5){

    animation: beat2 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 4s;

  }

.heart:nth-child(6){

    animation: beat2 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 4.5s;

  }
.heart:nth-child(7){

    animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 5s;

  }
.heart:nth-child(8){

    animation: beat2 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 5.5s;

  }

.heart:nth-child(9){

    animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 6s;

  }
.heart:nth-child(10){

    animation: beat 15s infinite cubic-bezier(0.5, 0.5, 0.5, 1);
    animation-delay: 6.5s;

  }
  @keyframes cher {
    from {
        transform: translateX(100%);
        opacity: 1;
        color: white;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
    }
    to {
        opacity: 1;
        transform: translateX(-10%);
        color: white;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 
      0 0 40px #00e63a, 0 0 50px #00e63a;
    }
}

.run{
  font-size: 58px;
  opacity: 0;
  font-family: myFirstFont;
  animation: cher 10s linear;
  animation-delay: 18s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating {
  opacity: 0;
  font-size: 58px;
  color: white;
  position: absolute;
  top:20%;
  left:40%;
  font-family: monospace;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e63a, 
  0 0 40px #00e63a;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
}

@keyframes floating {
  from { transform: translate(0,  0px); opacity: 1; }
  65%  { transform: translate(0, 15px); opacity: 1}
  to   { transform: translate(0, -0px); opacity: 1}    
}
@keyframes backchange {
  0%{
    background-color: whitesmoke;
  }
  100%{
    background-color: black;
  }
}

@keyframes flyup {
  from {
      transform: translateY(1000px);
      opacity: 1;
      }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

.flyup {
  opacity: 0;
  font-size: 58px;
  color: white;
  text-align: center;
  font-family: monospace;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0400e6, 
    0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #0400e6;
  animation-name: flyup;
  animation-duration: 5s;
  animation-iteration-count: linear;
  animation-timing-function: ease-in-out;
  animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}